:root {
    --tab-bar-height: 32px;
}

html, body {
    margin: 0;
    padding: 0;

    height: 100%;
}

.ffos {
    font-family: "Open Sans";
}

.ffscp {
    font-family: 'Source Code Pro', monospace;
}

#tabs {
    min-height: calc(var(--tab-bar-height));

    transition: background-color .1s ease-in;
}

/* #tabs > a {
    cursor: pointer;
} */

div > a#run {
    margin-left: auto;
}

.CodeMirror-wrap {
    position: relative;

    height: 100% !important;
    width: 100%;

    margin: 0;
    padding: 0;

    resize: none;
}

.CodeMirror-lines {
    margin-left: 4px;
    margin-right: 4px;
}

.tab-padding3 {
    flex-grow: 3;
}
.tab-padding2 {
    flex-grow: 2;
}
.tab-padding2, .tab-padding3 {
    min-width: 5px;
}

.tab-view {
    height: 100%;
    width: 100%;
}

#program-output {
    padding: 5px;
}

#program-output > div {
    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;
}

.npe {
    pointer-events: none;
}

#zilch-editor, #nstar-editor, .CodeMirror-linenumbers, .CodeMirror-wrap {
    font-family: 'Source Code Pro', monospace !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    height: 100%;
    letter-spacing: normal !important;
    line-height: 20px !important;
    tab-size: 2;
}

#zilch-editor, #debug-tab > div > div, .CodeMirror-linenumbers {
    padding: 5px;
}

#zilch-editor, #nstar-editor {
    resize: none !important;
}

#toggle-dark {
    transition: color .1s ease-in;
}

.gutter.dark-gutter {
    background-color: #232830;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.divider {
    display: flex;
    overflow: hidden;
}

.divider::before, .divider::after {
    flex: 1 1 auto;
    border-top: 1px solid;
    content: '';
    margin: auto;
}

.divider::before {
    margin-right: 2%;
}

.divider::after {
    margin-left: 2%;
}

#debug-tab, html, body, #program-output {
    overflow: hidden;
}

code {
    word-break: break-word;
    white-space: pre-wrap;
}

* {
    box-sizing: inherit;
}

.cm-s-nord {
    background: #2e3440;
    color: #d8dee9;
}



.CodeMirror-wrap, .CodeMirror-linenumbers, .CodeMirror-gutter, .gutter {
    transition: background .1s ease-in;
}

#stdout, #stderr, .divider {
    transition: color .1s ease-in;
}

.curna {
    cursor: not-allowed !important;
}

#nstar-editor-wrapper {
    overflow: auto;
}

.rem-some {
    height: calc(100% - var(--local-remove-height)) !important;
}

.cm-s-nord .CodeMirror-gutters {
    border-right: 1px solid #4e586e !important;
}



#settings-dropdown-content {
    width: calc(min(400px, 95vh));
    transform: translateY(12px) translateX(-100%) translateX(54px); /* TODO: remove hardcoded values */
    transition: opacity .15s ease-in;
}
#settings-dropdown-content::after {
    content: '';
		position: absolute;
		width: 0;
		height: 0;
		right: 7.5%;
		top: -8px;
		margin-left: -15px;
		margin-right: -15px;
		box-shadow: 5px -3px 4px 2px rgb(0 0 0 / 20%);
		transform: rotate(-45deg);
		transition: opacity .15s ease-in;
}
#settings-dropdown-content.light-menu::after {
		border-left: solid 15px #fff;
		border-bottom: solid 15px #fff;
}
#settings-dropdown-content.dark-menu::after {
		border-left: solid 15px #2e3440;
		border-bottom: solid 15px #2e3440;
}

.light-menu {
  background-color: #fff;
}
.dark-menu {
  background-color: #2e3440;
}
