:root {
    --tab-bar-height: 32px;
    --tab-bar-margin: 5px;
}

html {
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: calc(100% - var(--tab-bar-margin));
}

a {
    font-family: "Open Sans";
}

#tabs {
    padding: var(--tab-bar-margin);
    height: calc(var(--tab-bar-height) + 2 * var(--tab-bar-margin));

    display: flex;

    transition: background-color .1s ease-in;
}

#tabs > a {
    cursor: pointer;
}

div > a#run {
    margin-left: auto;
}

#editor {
    position: relative;

    height: calc(100% - 1px);
    width: 100%;

    margin: 0;
    padding: 5px;
}

#editor-view {
    margin-right: 5px;
}

#editor > div.codeflask {
    position: relative;

    box-shadow: 3px 3px 3px #b3b3b3, -3px -3px 3px #b3b3b3;
}

.tab-padding {
    flex-grow: 3;
}

.tab-view {
    height: 100%;
}

/*
#run-button {
    float: right;
}
*/
